<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  You can contact us here!
  <a href="http://railstutorial.org/help">Contact Us</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
